{% extends 'base.html' %}

{% block content %}

{% load rent_extras %}



<div class="panel panel-info">
    <div class="panel-heading">Lease List</div>
    <div class="panel-body">
        <ul class="nav nav-tabs nav-justified">
            <li class="active"><a data-toggle="tab" href="#active_lease">Active</a></li>
            <li><a data-toggle="tab" href="#history_lease">History</a></li>
        </ul>
        
        <div class="tab-content">
            <div id="active_lease" class="tab-pane fade in active">
                <table class="table table-striped table-bordered data_table" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>S.NO</th>
                                <th>Property</th>
                                <th>Room</th>
                                <th>Tenant</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Amount</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in lease_list %}
                            {% if item|filter_current_lease %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td><a href="{% url 'property_details' item.lease_room.room_property.property_id %}">{{item.lease_room.room_property.property_name|title}}</a></td>
                                    <td><a href="{% url 'room_details' item.lease_room.room_id %}">{{item.lease_room.room_name}}</a></td>
                                    <td><a href="{% url 'tenant_details' item.lease_tenant.tenant_id %}">{{item.lease_tenant.tenant_name}}</a></td>
                                    <td>{{item.lease_start_date}}</td>
                                    <td>{{item.lease_end_date}}</td>
                                    <td>{{item.lease_amount}}</td>
                                </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
            
                    </table>
            </div>
            <div id="history_lease" class="tab-pane fade">
                <table class="table table-striped table-bordered data_table" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>S.NO</th>
                            <th>Property</th>
                            <th>Room</th>
                            <th>Tenant</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Amount</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in lease_list %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td><a href="{% url 'property_details' item.lease_room.room_property.property_id %}">{{item.lease_room.room_property.property_name|title}}</a></td>
                                <td><a href="{% url 'room_details' item.lease_room.room_id %}">{{item.lease_room.room_name}}</a></td>
                                <td><a href="{% url 'tenant_details' item.lease_tenant.tenant_id %}">{{item.lease_tenant.tenant_name}}</a></td>
                                <td>{{item.lease_start_date}}</td>
                                <td>{{item.lease_end_date}}</td>
                                <td>{{item.lease_amount}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
        
                </table>
            </div>
        </div>

        
    </div>
</div>

{% endblock %}