{% extends 'base.html' %}
{% load rent_extras %}

{% block content %}

<div class="panel panel-info">
    <div class="panel-heading">Room Details</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="fa fa-home fa-2x"></i>{{room_details.room_name}}</div>
                    <div class="panel-body">
                        <div class="list-group">
                            
                            <a href="#" class="list-group-item">
                                <i class="fa fa-rupee fa-fw"></i>Pending Amount
                                <span class="pull-right"><em>{{lease_details|getPendingAmountForRoom:room_details.room_id}}</em></span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-edit fa-fw"></i>Pending Months
                                <span class="pull-right"><em>{{lease_details|getPendingMonthCountForRoom:room_details.room_id}}</em></span>
                            </a>
                            
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="fa fa-home fa-2x"></i>Transactions</div>
                    <div class="panel-body">
                        <div class="list-group">
                            
                            <a href="#" class="list-group-item">
                                <i class="fa fa-rupee fa-fw"></i>Pending Amount
                                <span class="pull-right"><em>sfgsg</em></span>
                            </a>
                            
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="fa fa-home fa-2x"></i>Tenant</div>
                    <div class="panel-body">
                        <div class="list-group">
                            
                            <a href="#" class="list-group-item">
                                <i class="fa fa-rupee fa-fw"></i>Pending Amount
                                <span class="pull-right"><em>sfgsg</em></span>
                            </a>
                            
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

{% endblock %}