{% extends 'base.html' %}
{% load rent_extras %}

{% block content %}
{% with filtervalue=lease_details|get_lease_by_room:room_details.room_id %}
<div class="panel panel-info">
    <div class="panel-heading">Room Details</div>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="fa fa-home fa-2x"></i>{{room_details.room_name}}</div>
                    <div class="panel-body">
                        <div class="list-group">
                            {% if filtervalue.lease_tenant.tenant_id %}
                                <a href="{% url 'tenant_details' filtervalue.lease_tenant.tenant_id %}" class="list-group-item">
                            {% else %}
                                <a href="#" class="list-group-item">
                            {% endif %}
                                <i class="fa fa-rupee fa-fw"></i>Tenant
                                    <span class="pull-right"><em>{{filtervalue.lease_tenant.tenant_name|title}}</em></span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-rupee fa-fw"></i>Pending Amount
                                <span class="pull-right"><em>{{lease_details|getPendingAmountForRoom:room_details.room_id}}</em></span>
                            </a>
                            <a href="#" class="list-group-item">
                                <i class="fa fa-edit fa-fw"></i>Pending Months
                                <span class="pull-right"><em>{{lease_details|getPendingMonthCountForRoom:room_details.room_id}}</em></span>
                            </a>
                            
                        </div>
                        
                    </div>
                </div>
            </div>

            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="fa fa-home fa-2x"></i>Lease List</div>
                    <div class="panel-body">
                       <table class="table">
                            <thead>
                                <tr>
                                    <th>SNO</th>
                                    <th>Term</th>
                                    <th>Amount</th>
                                    <th>Amount Paid</th>
                                    <th>Paid date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                {% for item in lease_details|dictsort:"lease_start_date" %}
                                {% if filtervalue.lease_tenant == item.lease_tenant %}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{item.lease_start_date|date:"d-M"}} to {{item.lease_end_date|date:"d-M-y"}}</td>
                                    <td>{{item.lease_amount}}</td>
                                    <td>{{item.lease_transaction.transaction_amount}}</td>
                                    <td>{{item.lease_transaction.transaction_date}}</td>
                                    <td><a class="btn" href="{% url 'transactions_create' item.lease_id %}">Pay Now</a></td>
                                </tr>
                                {% endif %}
                                {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td>Total</td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                    <td>0.00</td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
            </div>
            <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-8">
                <div class="panel panel-default">
                    <div class="panel-heading"><i class="fa fa-home fa-2x"></i>Old Tenant Lease List</div>
                    <div class="panel-body">
                        <div class="list-group">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>SNO</th>
                                            <th>Term</th>
                                            <th>Tenant</th>
                                            <th>Amount</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        {% for item in lease_details %}
                                        {% if filtervalue.lease_tenant != item.lease_tenant and not item.lease_transaction %}
                                        <tr>
                                            <td>{{forloop.counter}}</td>
                                            <td>{{item.lease_start_date|date:"d-M"}} to {{item.lease_end_date|date:"d-M-y"}}</td>
                                            <td><a href="{% url 'tenant_details' item.lease_tenant.tenant_id %}">{{item.lease_tenant.tenant_name}}</a></td>
                                            <td>{{item.lease_amount}}</td>
                                            <td>{{item.lease_transaction.transaction_amount|yesno:"Paid,Un Paid,maybe"}}</td>
                                            <td><a class="btn" href="{% url 'transactions_create' item.lease_id %}">Pay Now</a></td>
                                        </tr>
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td colspan="2"></td>
                                            <td>Total</td>
                                            <td>0.00</td>
                                            <td>0.00</td>
                                            <td></td>
                                        </tr>
                                    </tfoot>
                                </table>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>
{% endwith %}
{% endblock %}