{% extends 'base.html' %}

{% block content %}

<div class="panel panel-info">
    <div class="panel-heading">Transactions</div>
    <div class="panel-body">
        <table class="table table-striped table-bordered data_table" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>S.NO</th>
                    <th>Name</th>
                    <th>Contact</th>
                    <th>Company</th>
                    <th>Description</th>
                    <th>Secondry</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for item in tenant_list %}
                    <tr>
                        <td>{{forloop.counter}}</td>
                        <td><a href="{% url 'tenant_details' item.tenant_id %}">{{item.tenant_name|title}}</a></td>
                        <td>{{item.tenant_contact}}</td>
                        <td>{{item.tenant_company}}</td>
                        <td>{{item.tenant_description}}</td>
                        <td>{{item.tenant_secondry}}</td>
                    </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>

{% endblock %}